SECRET_KEY=key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 0.0.0.0
DEBUG=1

SQL_ENGINE=django.db.backends.postgresql
SQL_USER=user
SQL_NAME=base
SQL_HOST=db
SQL_PORT=5432
SQL_PASSWORD=password

POSTGRES_PASSWORD=password
POSTGRES_USER=user
POSTGRES_DB=base

VUE_APP_HOST=127.0.0.1
VUE_APP_PORT=8000
VUE_APP_PROTOCOL=http

REDIS_PORT=6379
REDIS_HOST=redis