.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/public/img/icons/android-chrome-192x192.png
/public/img/icons/android-chrome-512x512.png
/public/img/icons/android-chrome-maskable-192x192.png
/public/img/icons/android-chrome-maskable-512x512.png
/public/img/icons/apple-touch-icon.png
/public/img/icons/apple-touch-icon-60x60.png
/public/img/icons/apple-touch-icon-76x76.png
/public/img/icons/apple-touch-icon-120x120.png
/public/img/icons/apple-touch-icon-152x152.png
/public/img/icons/apple-touch-icon-180x180.png
/public/img/icons/favicon-16x16.png
/public/img/icons/favicon-32x32.png
/public/img/icons/msapplication-icon-144x144.png
/public/img/icons/mstile-150x150.png
/public/img/icons/safari-pinned-tab.svg
